[Desktop Entry]
Type=Application
Name=Design Patterns Viewer
Name[en]=Design patterns viewer
Name[pt]=Visualizador de padrões de concepção
#Name[fr]=Visualiseur de motifs de conception
#Name[es]=Visor de patrones de diseño
Exec=DPViewergtk
Icon=DPViewergtk
Categories=Education;  # Set the category
